.stage_2_form input {
    padding-left: 5px;
}

.commodities_group {
    margin-bottom: 5px;
}

.commodities_group select {
    position: relative;
    top: 23px;
}

.file-label {
    cursor: pointer;
}

.auth-link {
    color: #000;
}

.navbar.navbar-transparent .auth-link {
    color: #fff !important;
}

.select-commodities label {
    cursor: pointer;
}
